.footer--cont {
    width: 100%;
    background-color: var(--darkgrey);
    .promo--big {
        max-width: 1560px;
        margin: 0 auto;
        background-image: url("/img/circles.svg");
        background-repeat: no-repeat;
        background-position: right bottom;
    }
    .footer--wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 102px 0;
        .footer--content {
            h5 {
                max-width: 415px;
                color: var(--white);
                font-family: Space Mono;
                font-size: 48px;
                line-height: 48px; 
                letter-spacing: -2.143px;
            }
        }
        .footer--aplic {
            display: flex;
            column-gap: 18px;
        }
    }

}
nav.footer--color{
    background-color: var(--black);
    .nav--social {
        img {
            svg:hover {
                color: #E5ECF4;
                cursor: pointer;
            }
        }
    }
}

@media only screen and (max-width:900px) {
    .footer--cont {
        .footer--wrapper {
            padding: 62px 0;
            flex-direction: column;
            row-gap: 40px;
            .footer--content {
                h5 {
                    text-align: center;
                    max-width: 457px;
                }
            }
        }
        .footer--aplic {
            .appstore {
                width: 113px;
                height: 40px;
            }
            .google-play {
                width: 130px;
                height: 40px;
            }
        }
    }
}
@media only screen and (max-width: 626px) {
    .footer--cont {
        .footer--wrapper {
            .footer--content {
                h5 {
                    font-size: 32px;
                    max-width: 311pxgi;
                }
            }
        }
    
    }
}