.footer--cont {
    width: 100%;
    background-color: var(--darkgrey);
    .promo--big {
        max-width: 1560px;
        margin: 0 auto;
        background-image: url("/img/circles.svg");
        background-repeat: no-repeat;
        background-position: right bottom;
    }
    .footer--wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 102px 0;
        .footer--content {
            h5 {
                max-width: 415px;
                color: var(--white);
                font-family: Space Mono;
                font-size: 48px;
                line-height: 48px; 
                letter-spacing: -2.143px;
            }
        }
        .footer--aplic {
            display: flex;
            column-gap: 18px;
        }
    }

}
nav.footer--color{
    background-color: var(--black);
}