
.nav--block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
    .logo--box {
        display: flex;
        padding-left: 40px;
        padding-right: 40px;
        column-gap: 58px;
        align-items: center;
        .menu--line {
            display: none;
        }
        .nav-pages {
            ul{
                display: flex;
                list-style: none;
                column-gap: 32px;
                a {
                    color: var(--grey);
                    font-family: Space Mono;
                    font-size: 15px;
                    line-height: 25px; 
                }
            }
        }
    }
    .nav--social {
        display: flex;
        column-gap: 15px;
    }
}
.big--container {
    height: 650px;
    background-image: url("/img/human-on-the-bike.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.header--content{
    max-width: 500px;
    padding-left: 40px;
    h1 {
        color:var(--white);
        font-family: Space Mono;
        font-size: 56px;
        line-height: 56px; 
        letter-spacing: -2.5px;
        margin: 153px 0 40px 0;
    }
    p{
        max-width: 405px;
        margin-bottom: 40px;
        color: var(--white);
    }
}
.background--container {
    position: relative;
    height: 200px;
    background-image: url("/img/about-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2F3B59;
    opacity: 0.75;
    h1 {
        margin-top: 72px;
    }
    img {
        position: absolute;
        right: 0;
        top:68px;
    }
}
header.header--about{
    .nav--block {
        .logo--box {
            .menu--line {
                display: none;
            }
        }
    }
    .big--container {
        // position: relative;
        height: 200px;
        background-image: url("/img/about-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        h1 {
            margin-top: 72px;
        }
    }
    .promo--big {
        background-image: url("/img/three-circles.png");
    }
    .big--two {
        height: 200px;
        background-color: #2F3B59;
        opacity: 0.75;
    }
    .big--container.careers {
        background-image: url("/img/careers-bg.png");
    }
}

@media only screen and (max-width:768px) {
    .header--content {
        max-width: max-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
            text-align: center;
        }
        p {
            max-width: max-content;
            text-align: center;
        }
    }
}
@media only screen and (max-width:689px) {
    nav {
        .nav--block {
            .logo--box {
                display: flex;
                align-items: center;
                // column-gap: 98px;
                .menu--line {
                    display: block;
                }
                .nav-pages {
                    display: none;
                }
                .logo {
                    img {
                        width: 75px;
                        height: 20px;
                    }
                }
                
            }
        }
    }
    nav.footer--color{
        .nav--block {
            align-items: center;
            flex-direction: column;
            padding: 64px 0 88px 0;
            row-gap: 81px;
            .nav-pages {
                display: block;
                ul {
                    flex-direction: column;
                    align-items: center;
                    row-gap: 16px;
                }
            }
            .logo--box {
                flex-direction: column;
                row-gap: 41px;
            }
        }
    }
    .main-btn {
        display: none;
    }
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }
    header.header--about {
        .nav--block {
            .logo--box {
                .menu--line {
                    display: block;
                }
            }
        }
        .promo--big {
            background-image: none;
        }
    }
}