
.nav--block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
    .logo--box {
        display: flex;
        column-gap: 58px;
        align-items: center;
        .nav-pages {
            ul{
                display: flex;
                list-style: none;
                column-gap: 32px;
                a {
                    color: var(--grey);
                    font-family: Space Mono;
                    font-size: 15px;
                    line-height: 25px; 
                }
            }
        }
    }
    .nav--social {
        display: flex;
        column-gap: 15px;
    }
}
.big--container {
    height: 650px;
    background-image: url("/img/human-on-the-bike.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.header--content{
    max-width: 500px;
    h1 {
        color:var(--white);
        font-family: Space Mono;
        font-size: 56px;
        line-height: 56px; 
        letter-spacing: -2.5px;
        margin: 153px 0 40px 0;
    }
    p{
        max-width: 405px;
        margin-bottom: 40px;
        color: var(--white);
    }
}
.background--container {
    position: relative;
    height: 200px;
    background-image: url("/img/about-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2F3B59;
    opacity: 0.75;
    h1 {
        margin-top: 72px;
    }
    img {
        position: absolute;
        right: 0;
        top:68px;
    }
}
header.header--about{
    .big--container {
        // position: relative;
        height: 200px;
        background-image: url("/img/about-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        h1 {
            margin-top: 72px;
        }
    }
    .promo--big {
        background-image: url("/img/three-circles.png");
    }
    .big--two {
        height: 200px;
        background-color: #2F3B59;
        opacity: 0.75;
    }
    .big--container.careers {
        background-image: url("/img/careers-bg.png");
    }
}
