.usage {
    padding: 160px 0 200px 0;
    width: 100%;
    .usage--app {
        position: relative;
        .line {
            position: absolute;
            width: 856px;
            height: 15px;
            margin-top: 44.4px;
            background-color: #E5ECF4;
            z-index: -1;
        }
        .line--img {
            display: flex;
            max-width: 856px;
            justify-content: space-between;
        }
    }
    .usage--content {
        display: flex;
        column-gap: 30px;
        .usage--content-block{
            h3 {
                font-family: Space Mono;
                font-size: 24px;
                line-height: 28px;
                letter-spacing: -1.071px;
                margin: 27px 0 40px 0;
            }
            p {
                color: var(--grey);
            }
        }
    }
}
.promo {
    width: 100%;
    .promo--box {
        display: flex;
        align-items: center;
        column-gap: 220px;
        .promo--content {
            h4 {
                color: #495567;
                font-family: Space Mono;
                font-size: 48px;
                line-height: 48px; 
                letter-spacing: -2.143px;
            }
            p {
                color: var(--grey);
                margin: 24px 0 40px 0;
            }
        }
        .promo--img {
            position: relative;
            .promo--arrow {
                position: absolute;
                bottom: 0;
                left: -58px;
            }
            .promo--arrow.change {
                top: 0;
                left: -240px;
            }
            .promo--arrow.right {
                top:105px;
                left: 320px;
            }
        }
    }
}
.promo--big {
    background-image: url("/img/half-circle.png");
    background-repeat: no-repeat;
    background-position: right; 
}
.promo--big.circle--change {
    background-image: url("/img/half-circle-left.png");
    background-repeat: no-repeat;
    background-position: left; 
    padding: 160px 0 139px 0;
}
.promo--big.third {
    padding-bottom: 200px;
}
.promo--box.about--pages {
    padding: 120px 0 120px 0;
}
.promo--big.circle--change.about--second {
    padding: 0;
}


.our--values.careers--page {
    padding: 0 0 120px;
}
.our--values {
    padding: 120px 0;
    h5 {
        color: var(--darkgrey);
        text-align: center;
        font-family: Space Mono;
        font-size: 48px;
        line-height: 48px; 
        letter-spacing: -2.143px;
        margin-bottom: 103px;
    }
    .our--values-box {
        display: flex;
        .step--img {
            display: flex;
            flex-direction: column;
            align-items: center;
            .step--circles-box {
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: auto;
                width: 96px;
                height: 96px;
                background-color: var(--primary);
                border-radius: 100%;
                transform: translateY(-50%);
                color: var(--darkgrey);
                text-align: center;
                font-family: Space Mono;
                font-size: 24px;
                line-height: 28px; 
                letter-spacing: -1.071px;
            }
        }
        .step--content {
            max-width: 350px;
            text-align: center;
            h6 {
                color: var(--darkgrey);
                font-family: Space Mono;
                font-size: 24px;
                line-height: 28px; 
                letter-spacing: -1.071px;
            }
            p {
                color: var(--grey);
                text-align: center;
                font-family: Lexend Deca;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 25px; 
                margin-top: 27px;
            }
        }
    }

}
.faqs {
    padding-bottom: 96px;
    h5 {
        color: var(--darkgrey);
        text-align: center;
        font-family: Space Mono;
        font-size: 48px;
        line-height: 48px; 
        letter-spacing: -2.143px;
        margin-bottom: 64px;
    }
    .faqs--box {
        display: flex;
        margin-bottom: 64px;
        .faqs--content {
            display: flex;
            column-gap: 30px;
            .content--heading {
                h5 {
                    text-align: start;
                    font-size: 40px;
                    letter-spacing: -1.786px;
                }
            }
        }
        .content--text {
            max-width: 730px;
            padding: 32px 40px;
            background-color: #F2F5F9;
            margin-bottom: 16px;
            h6 {
                color: #495567;
                font-family: Space Mono;
                font-size: 24px;
                line-height: 28px;
                letter-spacing: -1.071px;
                margin-bottom: 24px;
            }
            .content--text-icon {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }

}
.vacancy {
    width: 100%;
    padding-bottom: 160px;
    .vacancy--box {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        .vacancy--rectangle {
            display: flex;
            padding: 32px 64px 32px 40px;
            justify-content: space-between;
            align-items: center;
            background-color: #F2F5F9;
            h6 {
                color: var(--darkgrey);
                font-family: Space Mono;
                font-size: 24px;
                line-height: 28px; 
                letter-spacing: -1.071px;
            }
            p {
                color: var(--darkgrey);
                font-family: Lexend Deca;
                font-size: 15px;
                line-height: 25px;
            }
        }
    }
}
.map {
    width: 100%;
    padding: 120px 0;
    .world--map {
        position: relative;
        height: 543px;
        background-image: url("/img/world-map-desktop.png");
        background-repeat: no-repeat;
        .map--city-block {
            position: absolute;
            top: 71.44px;
            left: 147px;
            .map--city {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 189px;
                height: 88px;
                background-color: var(--primary);
                p {
                    color: var(--darkgrey);
                    font-family: Space Mono;
                    font-size: 24px;
                    line-height: 28px; 
                    letter-spacing: -1.071px;
                }
            }
        }
        .map--city-block.city--two {
            top: 18px;
            left: 393px;
        }
        .map--city-block.city--three {
            top: 78px;
            left: 856px;
        }
        .map--city-block.city--four {
            top: 251px;
            left: 779px;
        }
        .city--square {
            position: absolute;
            bottom: 3px;
            left: 80px;
            width: 30px;
            height: 30px;
            background-color: var(--primary);
            transform: rotate(45deg);
            margin-bottom: -15px;
        }
    }
    
}