.usage {
    padding: 160px 0 200px 0;
    width: 100%;
    .usage--app {
        position: relative;
        .line {
            position: absolute;
            width: 856px;
            height: 15px;
            margin-top: 44.4px;
            background-color: #E5ECF4;
            z-index: -1;
        }
        .line--img {
            display: flex;
            max-width: 856px;
            justify-content: space-between;
        }
    }
    .usage--content {
        display: flex;
        column-gap: 30px;
        .usage--content-block{
            img {
                display: none;
            }
            h3 {
                font-family: Space Mono;
                font-size: 24px;
                line-height: 28px;
                letter-spacing: -1.071px;
                margin: 27px 0 40px 0;
            }
            p {
                color: var(--grey);
            }
        }
    }
}
.promo {
    width: 100%;
    .promo--box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // column-gap: 220px;
        .promo--content {
            h4 {
                max-width: 445px;
                color: #495567;
                font-family: Space Mono;
                font-size: 48px;
                line-height: 48px; 
                letter-spacing: -2.143px;
            }
            p {
                max-width: 445px;
                color: var(--grey);
                margin: 24px 0 40px 0;
            }
        }
        // .promo--img {
        //     // .promo--arrow {
        //     //     display: none;
                
        //     //     bottom: 0;
        //     //     left: -57px;
        //     // }
        //     .promo--arrow.change {
        //         top: 0;
        //         left: -240px;
        //     }
        //     .promo--arrow.right {
        //         top:105px;
        //         left: 320px;
        //     }
        // }
    }
}
.promo--big {
    background-image: url("/img/half-circle.png");
    background-repeat: no-repeat;
    background-position: right; 
}
.promo--big.circle--change {
    background-image: url("/img/half-circle-left.png");
    background-repeat: no-repeat;
    background-position: left; 
    padding: 160px 0 139px 0;
}
.promo--big.third {
    padding-bottom: 200px;
}
.promo--box.about--pages {
    padding: 120px 0 120px 0;
}
.promo--big.circle--change.about--second {
    padding: 0;
}


.our--values.careers--page {
    padding: 0 0 120px;
}
.our--values {
    padding: 120px 0;
    h5 {
        color: var(--darkgrey);
        text-align: center;
        font-family: Space Mono;
        font-size: 48px;
        line-height: 48px; 
        letter-spacing: -2.143px;
        margin-bottom: 103px;
    }
    .our--values-box {
        display: flex;
        .step--img {
            display: flex;
            flex-direction: column;
            align-items: center;
            .step--circles-box {
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: auto;
                width: 96px;
                height: 96px;
                background-color: var(--primary);
                border-radius: 100%;
                transform: translateY(-50%);
                color: var(--darkgrey);
                text-align: center;
                font-family: Space Mono;
                font-size: 24px;
                line-height: 28px; 
                letter-spacing: -1.071px;
            }
        }
        .step--content {
            max-width: 350px;
            text-align: center;
            h6 {
                color: var(--darkgrey);
                font-family: Space Mono;
                font-size: 24px;
                line-height: 28px; 
                letter-spacing: -1.071px;
            }
            p {
                color: var(--grey);
                text-align: center;
                font-family: Lexend Deca;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 25px; 
                margin-top: 27px;
            }
        }
    }

}
.faqs {
    padding: 0 40px 96px 40px;
    h5 {
        color: var(--darkgrey);
        text-align: center;
        font-family: Space Mono;
        font-size: 48px;
        line-height: 48px; 
        letter-spacing: -2.143px;
        margin-bottom: 64px;
    }
    .faqs--box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 64px;
        .faqs--content {
            display: flex;
            column-gap: 30px;
            .content--heading {
                h5 {
                    max-width: 350px;
                    text-align: start;
                    font-size: 40px;
                    letter-spacing: -1.786px;
                }
            }
        }
        .content--text {
            max-width: 730px;
            padding: 32px 40px;
            background-color: #F2F5F9;
            margin-bottom: 16px;
            h6 {
                color: #495567;
                font-family: Space Mono;
                font-size: 24px;
                line-height: 28px;
                letter-spacing: -1.071px;
                margin-bottom: 24px;
            }
            .content--text-icon {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
        .content--text:hover {
            background-color: #FFF4DF;
            cursor: pointer;
        }
    }

}
.vacancy {
    width: 100%;
    padding-bottom: 160px;
    .vacancy--box {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        .vacancy--rectangle {
            display: flex;
            padding: 32px 64px 32px 40px;
            justify-content: space-between;
            align-items: center;
            background-color: #F2F5F9;
            h6 {
                color: var(--darkgrey);
                font-family: Space Mono;
                font-size: 24px;
                line-height: 28px; 
                letter-spacing: -1.071px;
                text-align: center;
            }
            p {
                color: var(--darkgrey);
                font-family: Lexend Deca;
                font-size: 15px;
                line-height: 25px;
                text-align: center;
            }
        }
    }
}
.map {
    width: 100%;
    padding: 120px 0;
    .world--map {
        position: relative;
        height: 543px;
        background-image: url("/img/world-map-desktop.png");
        background-repeat: no-repeat;
        .map--city-block {
            position: absolute;
            top: 71.44px;
            left: 147px;
            .map--city {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 189px;
                height: 88px;
                background-color: var(--primary);
                p {
                    color: var(--darkgrey);
                    font-family: Space Mono;
                    font-size: 24px;
                    line-height: 28px; 
                    letter-spacing: -1.071px;
                }
            }
        }
        .map--city-block.city--two {
            top: 18px;
            left: 393px;
        }
        .map--city-block.city--three {
            top: 78px;
            left: 856px;
        }
        .map--city-block.city--four {
            top: 251px;
            left: 779px;
        }
        .city--square {
            position: absolute;
            bottom: 3px;
            left: 80px;
            width: 30px;
            height: 30px;
            background-color: var(--primary);
            transform: rotate(45deg);
            margin-bottom: -15px;
        }
    }
    .map--mobile--box {
        display: none;
        .map--mobile {
            max-width: 700px;
            padding-top: 40px;
            display: flex;
            flex-direction: column;
            row-gap: 16px;
            justify-content: center;
            align-items: center;
            .map--city--mobile {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 311px;
                height: 72px;
                background: rgba(252, 183, 43, 0.15);
                p {
                    color: #495567;
                    font-family: Space Mono;
                    font-size: 24px;
                    line-height: 28px;
                    letter-spacing: -1.071px;
                }
            }
        }
    }
    
}
.tech--support {
    width: 100%;
    padding: 0 0 120px 0;
    .tech--support-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3 {
            max-width: 351px;
            color: var(--darkgrey);
            font-family: Space Mono;
            font-size: 48px;
            line-height: 48px; 
            letter-spacing: -2.143px;
        }
        p {
            max-width: 445px;
            color: var(--grey);
            font-family: Lexend Deca;
            font-size: 15px;
            line-height: 25px; 
        }
    }
}


@media only screen and (max-width:900px) {
    .usage {
        padding: 122px 98px 145px 98px ;
        .usage--block {
            display: flex;
            align-items: center;
            column-gap: 79px;
            .usage--app {
                .line {
                    width: 15px;
                    height: 391px;
                    margin-left: 44.4px;
                    z-index: -1;
                }
                .line--img {
                    flex-direction: column;
                    row-gap: 74px;
                }
            }
            .usage--content {
                flex-direction: column;
                .usage--content-block {
                    h3 {
                        margin-bottom: 27px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:640px) {
    .usage {
        padding: 122px 0 145px 0 ;
        .usage--block {
            .usage--app {
                display: none;
                .line {
                    display: none;
                }
                .line--img {
                    flex-direction: column;
                    row-gap: 74px;
                }
            }
            .usage--content {
                row-gap: 48px;
                .usage--content-block {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                    img {
                        display: block;
                    }
                    h3 {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1305px){
    .promo {
        .promo--box {
            flex-direction: column-reverse;
            row-gap: 56px;
            .promo--content {
                text-align: center;
                // h4 {
                //     max-width: 445px;
                //     color: #495567;
                //     font-family: Space Mono;
                //     font-size: 48px;
                //     line-height: 48px; 
                //     letter-spacing: -2.143px;
                // }
                // p {
                //     max-width: 445px;
                //     color: var(--grey);
                //     margin: 24px 0 40px 0;
                // }
            }
        }
    }
}
@media only screen and (max-width: 638px) {
    .promo {
        .promo--box {
            .promo--img {
                img {
                    width: 311px;
                    height: 311px;
                }
            }
        }
    }
}
    



@media only screen  and (max-width: 1090px) {
    .our--values {
        .our--values-box {
            flex-direction: column;
            align-items: center;
            row-gap: 55px;
            .step--content {
                max-width: 457px;
            }
        }
    }
}
@media only screen  and (max-width: 620px) {
.our--values {
    h5 {
        font-size: 32px;
        margin-bottom: 64px;
    }
    .our--values-box {
        .step--content {
            // max-width: 311px;
        }
    }
}
}

@media only screen and (max-width:950px) {
    .faqs {
        padding-left: 0;
        padding-right: 0;
        .faqs--box {
            .faqs--content {
                display: flex;
                column-gap: 30px;
                flex-direction: column;
                align-items: center;
                .content--heading {
                }
            }
        }
    
    }
}

@media only screen and (max-width: 700px) {
    .vacancy {
        .vacancy--box {
            .vacancy--rectangle {
                padding: 32px;
                height: 190px;
                flex-direction: column;
                justify-content: center;
                row-gap: 16px;
                h6 {
                    font-size: 18px;
                    line-height: 24px;
                }
            }
        }
    }
}

@media only screen and (max-width:1120px) {
    .map {
        .world--map {
            height: 337px;
            .map--city-block {
                top: 52px;
                left: 98px;
                .map--city {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 120px;
                    height: 40px;
                    p {
                        text-align: center;
                        font-size: 13px;
                        line-height: 28px;
                        letter-spacing: -0.58px;
                    }
                }
            }
            .map--city-block.city--two {
                top: 18px;
                left: 243px;
            }
            .map--city-block.city--three {
                top: 78px;
                left: 530px;
            }
            .map--city-block.city--four {
                top: 251px;
                left: 480px;
            }
            .city--square {
                bottom: 5px;
                left: 45px;
                width: 20px;
                height: 20px;
            }
        }
        
    }
    .tech--support {
        .tech--support-wrapper {
            flex-direction: column;
            align-items: center;
            row-gap: 40px;
            h3 {
                max-width: 457px;
                text-align: center;
            }
            p {
                max-width: 573px;
                text-align: center;
            }
        }
    }
}
@media only screen and (max-width:710px) {
    .map {
        .world--map {
            height: 152px;
            background-image: url("/img/map-mobile.png");
            background-repeat: no-repeat;
            background-size: cover;
            .map--city-block {
                position: absolute;
                top: 33px;
                left: 67px;
                .map--city {
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    p {
                        display: none;
                    }
                }
            }
            .map--city-block.city--two {
                top: 22px;
                left: 132px;
            }
            .map--city-block.city--three {
                top: 41px;
                left: 259px;
            }
            .map--city-block.city--four {
                top: 87px;
                left: 237px;
            }
            .city--square {
                display: none;
            }
        }
        .map--mobile--box {
            display: block;
        }
    }
}